<!-- Start::Footer -->
<footer>
  <div class="container">
    <div class="footer-card">
      <div class="footer-card__inner-wrapper">
        <div>
          <h2 class="footer-card__title">GET YOUR HYPERION</h2>
          <div class="footer-card__description">Claim your Hyperion now and prepare for the great battle </div>
        </div>
        <div class="footer-card__buttons">
          <a href="nft-mint.html" class="btn btn-default">
            <span>MINT NOW</span>
          </a>
        </div>
        <div class="footer-card__copyright">© HYPERION – 2023</div>
        <div class="footer-card-ornament">
          <div class="footer-card-ornament__line"></div>
          <div class="dots-ornament footer-card-ornament__dots">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <div class="footer-card__image">
        <img src="assets/media/images/footer-image.png" alt="Hyperion">
      </div>
    </div>
  </div>
</footer>
<!-- End::Footer -->